/*Se inicia colocando o padding e magem zero, pois os elementos já possuem seus valores desses itens préestabelecidos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    /*color: chartreuse;*/
    /*abaixo temos o rgb a e opacidade*/
    color: rgb(186, 189, 187);
}
/*reiterando que as listas devem ficar sem estilo definido*/
ul {
    list-style: none;
    font-size: 20px;
    font-style: italic;
}
/*remover para todos os links os estilos com underline*/
a {
    text-decoration: none;
}
body {
    background-image: url(./matrix3.jpg);
    background-repeat: no-repeat;
    /*abaixo esses parâmetros são para centralizar tanto verticalmente como horizontalmente*/
    background-position: center center fixed;
    /*Fazendo o mesmo de cima com uma linha*/
    /*background: url(./matrix3.jpg) no-repeat center center fixed;*/
    background-size: cover;
    /* colcoando plano de fundo com cor, são 2 exemplos distintos. existem sites que já dão exemplos de css gradient
    background-color:rgba(247, 55, 7, 0.397);
    background: linear-gradient(90deg, #f7f4f5, #140401);
    o parâmetro abaixo é para colocar a visualização da altura completa com imagem vertical
    height: 100vh; */
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
header ul {
    display: flex;    
}
header ul li {
    padding: 5px;
}

.container {
    text-align: center;
}
.container .name h1 {
    font-size: 60px;
}
.container .name h5 {
    font-size: 25px;
}
.flex {
    display: flex;
}
.flex div {
    border: 1px solid rgb(172, 243, 139);
    margin: 15px;
    flex-basis: 100%;
    background-color:rgb(6, 10, 7);
}
.flex img {
    max-width: 300px;
}

#about p {
    max-width: 700px;
    margin: 0 auto;
}
/*Será usado esse parâmetro para já definir um tamanho para o form, pois depois vamos utilizar outro parâmetro para tamanho limitado por esse abaixo*/
.form {
    width: 40%;
    margin: 0 auto;
}
.form input {
    width: 50%;
}
.form button {
    width: 15%;
    background-color: rgb(6, 10, 7);
}